<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RssReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B2D1A961BC6030500B02AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2D1AAF1BC6030600B02AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2D1ABA1BC6030600B02AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
